<div class="container w-25">
  
    <%= simple_form_for(@moto) do |f| %>
      <%= f.input :marque %>
      <%= f.input :modele%> 
      <%= f.input :annee%>
      <%= f.input :description%>
      <%= f.submit "CREER"%>
    <% end %>
</div>